<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h5>Here are some links to help you start: </h5>
{{hero}}
<div class="abc">

  <ng-container *ngFor="let contact of data.contacts">
    <h5>{{contact.name}}</h5>
    <h5>{{contact.location}}</h5>
    <h6>{{contact.email}}</h6>
    <h5>{{contact.role}}</h5>
    <h5>{{contact.company}}</h5>
    <h5>{{contact.image}}</h5>
    <h5>{{contact.info}}</h5>
  </ng-container>
  </div> -->


  <!-- <div style="position: relative;top: 10px;">
<label>Name:
<input type="text" placeholder="enter name" >
</label><br>
</div>
<div style="position: relative;top:20px;">
<label>password:
  <input type="password" placeholder="enter password">
</label>
</div>
<button style="margin-top: 40px;" (click)="login()" class="btn-primary" type="submit">login</button> -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<!DOCTYPE html>
<html lang="en">
<!-- <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> -->
<body>

    <div class="container" style="position:relative;top:30px;">
        <p ><i class="fa fa-users" style="font-size:28px;color:blue"></i>
    Choose number of <span style="font-size: 20px;color: blue">People</span></p>
                
  <table class="table table-hover ">
    <thead>
      <!-- <tr>
        <th>Firstname</th>
        <th></th>
        <th>Email</th>
      </tr> -->
    </thead>
    <tbody>
      <tr>
        <td style="color: blue"><i class="fa fa-hotel" style="font-size:20px;color:blue"></i>   ROOMS</td> 
        <td style="text-align: right">
          <i class="fa fa-minus-circle" (click)="Decreaseval()" style="position:relative;font-size:20px;color: blue;left:-30px;"></i>
          <span class="entry value" style="text-align: center;
          position: relative;
          font-size: 15px;
          font-weight: bold;
          left: -15px;"><span>{{count}}</span></span>
         <i class="fa fa-plus-circle"  (click)="Increaseval()" style="font-size:20px;color:red"></i>
        </td>
      </tr>
      <tr>
          <td style="color: blue"><i class="fa fa-user" style="font-size:20px;color:blue"></i>   ADULTS</td> 
        <td  style="text-align: right">
          <i class="fa fa-minus-circle" (click)="AdultDecreaseval()" style="position:relative;font-size:20px;color: blue;left:-30px;"></i>
          <span class="entry value" style="text-align: center;
          position: relative;
          font-size: 15px;
          font-weight: bold;
          left: -15px;"><span>{{adult}}</span></span>
          <i class="fa fa-plus-circle" (click)="AdultIncreaseval()" style="font-size:20px;color:red"></i>
        </td>
      </tr>
      <tr>
          <td style="color: blue"><i class="fa fa-child" style="font-size:20px;color:blue"></i>   CHILDREN</td>
        <td  style="text-align: right">
          <i class="fa fa-minus-circle"  (click)="ChildDecreaseval()" style="position:relative;font-size:20px;color: blue;left:-30px;"></i>
          <span class="entry value" style="text-align: center;
          position: relative;
          font-size: 15px;
          font-weight: bold;
          left: -15px;"><span>{{child }}</span></span>
          <i class="fa fa-plus-circle" (click)="ChildIncreaseval()" style="font-size:20px;color:red"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

